<% layout("/layouts/bolierplate") %>
 
<style>

/*---------------index page listing---------------------------------*/

@media screen and (max-width: 768px) {
 .filters .filter:nth-child(n+6) {
    display: none;
}
.card{
    margin-top: 6rem !important;
}
}

.filters {

    position: fixed;
    top: 3rem;
    background-color: #fff;
    /* Adjust according to your design */
    padding: 1rem;
    /* Adjust according to your design */
    z-index: 1000;
    /* Adjust according to your design and layout */
    width: 100%;
    /* Adjust according to your design */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    text-align: center;
    margin-right: 1.4rem;
    margin-top: 2rem;
    opacity: 0.7;
    flex-wrap: wrap;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.taxt-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.ourjourney-main
{
    background-color:#F4F2EF;;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.home-title{
    text-align: center;
    color:#866D4B;
}
.item--icon{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.item--icon i{
    font-size: 20px;
    padding: 0.55rem;
    align-items: center;
    text-align: center; 
}


 /*================= contact section starts here ================/ */
 .modal-content {
            color: #fff;
            background-color: #06243a;
            width: 100%;
            margin: 0 auto;

            transition: background 0.5s, transform 0.5s;

            box-shadow: 1px 1px 20px white,
                1px 1px 40px white;
        }
        .modal-content:hover {
            transform: translate(-10px);
        }
        .send-msg {
            color: #fff !important;
            background-color: green;

            box-shadow: 0 0 5px green,
                0 0 25px green !important;
        }

        .send-msg:hover {
            box-shadow: 0 0 5px cyan,
                0 0 25px cyan, 0 0 50px cyan,
                0 0 100px cyan, 0 0 200px cyan !important;
            color: white !important;
            background-color: #0ef;
        }
        .send-msg {

            opacity: 0;
            animation: slideTop 1s ease forwards;
            animation-delay: 3s;
        }
        .contact-heading {
            opacity: 0;
            animation: slideButtom2 1s ease forwards;
            animation-delay: 1s;

        }
        .contact-input {
            opacity: 0;
            animation: slideButtom1 1s ease forwards;
            animation-delay: 2s;
            color: #081b29;
            border-radius: 10px;
        }
        .contact-input {
            opacity: 0
        }


        /* /================= animation section ends here ================/
        /================= responsive section starts here ================/ */

        @keyframes slideButtom1 {

0% {
    transform: translateX(-100px);
    opacity: 0;
}

100% {
    transform: translateY(0px);
    opacity: 0.5;
}
}

@keyframes slideTop {

0% {
    transform: translateY(-100px);
    opacity: 0;
}

100% {
    transform: translateX(0px);
    opacity: 1;
}
}

@keyframes slideButtom2 {

0% {
    transform: translateY(300px);
    opacity: 0;
}

100% {
    transform: translateX(0px);
    opacity: 1;
}
}

        @media (max-width: 1024px) {

            .counter-section .counter-div .counter-col {
                margin: 5% 0% 5% 0%;
            }
        }

        @media (max-width: 768px) {}

        html .counter-section .counter-div .counter-col {
            margin: 5% 0% 5% 0%;
        }

        @media (max-width: 600px) {

            .send-msg {
                margin-top: 1.8rem !important;
            }
        }
    

</style>
    
    <div class="filters pb-1">
        <div class="filter">
            <div>
                <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-bed"></i>
            </div>
            <p>rooms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castels</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-cow"></i>
            </div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-igloo"></i>
            </div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-ship"></i>
            </div>
            <p>Houseboats</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch ">

                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label for=" class=form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
            </div>
        </div>
    </div><br><br>
<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5 ">
        <% for( listing of allListings) { %>
            <a href="/<%= listing._id %>" class="listing-list">


                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                        style="height: 20rem;" loading="lazy"/>

                    <div class="card-img-overlay"></div>

                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b>
                            <br>
                            <b>&#8377;<%= 
                                ((listing.price*(100-listing.discountPrice))/100).toLocaleString("en-IN")
                                 %></b> &nbsp;&nbsp;
                               <del> &#8377;<%= listing.price.toLocaleString("en-IN") %></del> &nbsp; <span style="color: green;"><b><%= listing.discountPrice %>% off</b></span> /awesome
    

                                <i class="taxt-info">&nbsp;&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
</div>


    <div class="ourjourney-main">
        <section>
       
            <div class="content-main  p-5">
                <hr>
            <div class="home-title mt-5">
                <h1>All our journeys include:</h1>
            </div>
            <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 mt-5 p-5">

                <div class="col item mb-5">
                    <div class="item--icon">
                       <p><i class="fa-solid fa-champagne-glasses"></i></p> 
                    </div>
                    <div class="item-text mt-4">
                        <p>In-suite welcome bottle of champagne and sweet treats</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-wine-bottle"></i></p>
                    </div>

                    <div class="item-text mt-4">
                     
                        <p>A bottle of wine and a bottle of spirit of the guests’ choice upon arrival</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-users"></i></p>
                    </div>

                    <div class="item-text mt-4">
                  
                        <p>Authentic, cultured, intuitive service</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-mortar-pestle"></i></p>
                    </div>

                    <div class="item-text mt-4">
                    
                        <p>9 Culinary Experiences, including In-Suite Dining</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-spa"></i></p>
                    </div>

                    <div class="item-text mt-4">
                      
                        <p>Thermal Spa Access</p>
                        <p></p>
                    </div>
                </div>



                <div class="col item ">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-martini-glass-citrus"></i></p>
                    </div>

                    <div class="item-text mt-4">
                 
                        <p>Unlimited fine beverages*</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-ticket"></i></p>
                    </div>

                    <div class="item-text mt-4">
                       
                        <p>All on-board gratuities</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-wifi"></i></i></p>
                    </div>

                    <div class="item-text mt-4">
                        
                        <p>Complimentary Wi-Fi</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-bus"></i></p> 
                    </div>

                    <div class="item-text mt-4">
                        
                        <p>Shuttle services from port to city centre**</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-heart-pulse"></i></p>
                    </div>

                    <div class="item-text mt-4">
                        <p>Wellbeing and fitness programmes on board and at the destinations</p>
                        <p></p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>



    <section id="contact" class="contact-section mt-5 ">
        <div class="row modal fade " id="contactus">
            <div class="col-md-6 modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content " style="background-color: #081b29; color:white">
                    <div class="modal-header">
                        <h3 class="mb-4 font-weight-bolder contact-heading modal-title"><span
                                class="bi bi-person-rolodex touch"></span> Contact <span style="color:green">Me</span>
                        </h3>
                        <div>

                        </div>
                        <button class="btn-close btn btn-danger bg-danger" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <input autofocus class="form-control mb-3 contact-input" placeholder="Your Name" type="text" />
                        <input class="form-control mb-3 contact-input" placeholder="Your Email" type="email">
                        <input class="form-control mb-3 contact-input" placeholder="subject" type="text"> <textarea
                            class="form-control mb-3 contact-input" placeholder="Message" name="text" id="" cols="30"
                            rows="5"></textarea>

                        <button class=" rounded-pill text-white btn font-weight-bolder send-msg mt-2 "><span
                                class="bi bi-send"> </span>Send Message</button>

                        <!-- <div class="col-md-6 touch-control"> 
                <h3 class="mb-lg-4 mt-4 mt-md-0  font-weight-bolder contact-heading1"><span class="bi bi-fingerprint touch"></span> Get in <span style="color:#0ef">Touch</span></h3> 
                <p class="contact-para ">I'd love to hear from you! Feel free to reach out using the contact form below or connect with me via email or social media. Whether it's discussing a project, sharing feedback, or exploring potential opportunities, I'm here to listen and respond promptly. Looking forward to connecting with you!</p> 
                </div>
                <div class="home-sci1">
                  <a href="mailto:rahulofficial8474@gmail.com" class="contact-input1"> <span class="bi bi-envelope-arrow-up" style="color: #0ef;"></span>&nbsp; rahulofficial8474@gmail.com</a><br>
                  <a href="tel:6203964461" class="contact-input1" > <span class="bi bi-telephone-outbound-fill" style="color: #0ef;"></span>&nbsp; 6203964461</a>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- contact section ends here -->





    <script>
        let taxtSwitch = document.getElementById("flexSwitchCheckDefault");

        taxtSwitch.addEventListener("click", () => {

            let taxtInfo = document.getElementsByClassName("taxt-info");
            for (info of taxtInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";

                }
                else {
                    info.style.display = "none";
                }

            }
        });
    </script>