<% layout("/layouts/bolierplate") %>
    <!-- <h2>All Listings</h2> -->
    <!-- <form method="get" action="/listing/new" >
        <button>Create New Listing</button>
    </form> -->
    
    <style>
        @media screen and (max-width: 768px) {
         .filters .filter:nth-child(n+6) {
            display: none;
        }
        .card{
            margin-top: 6rem !important;
        }
        }

        .filters {

            position: fixed;
            top: 3rem;
            background-color: #fff;
            /* Adjust according to your design */
            padding: 1rem;
            /* Adjust according to your design */
            z-index: 1000;
            /* Adjust according to your design and layout */
            width: 100%;
            /* Adjust according to your design */
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter {
            text-align: center;
            margin-right: 1.4rem;
            margin-top: 2rem;
            opacity: 0.7;
            flex-wrap: wrap;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .taxt-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.25rem;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
        }

        .ourjourney-main
        {
            background-color:#F4F2EF;;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
           
        }
        .home-title{
            text-align: center;
            color:#866D4B;
        }
        .item--icon{
            width: 40px;
            height: 40px;
            border: 1px solid black;
            border-radius: 50%;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .item--icon i{
            font-size: 20px;
            padding: 0.55rem;
            align-items: center;
            text-align: center; 
        }

      


        .circle-indicator {
            display: inline-block;
            width: 10px; /* Adjust size of the circle */
            height: 10px; /* Adjust size of the circle */
            border-radius: 50%; /* Make it a circle */
            background-color: #6c757d; /* Color of inactive circle */
            margin: 0 ; /* Adjust spacing between circles */
        }
        
        .carousel-indicators button {
            border: none;
            width: 0px;
            height: 0px;
            padding: 0;
            margin: 0;
        }
        
        /* Hide the carousel control buttons by default */
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
        
        /* Show carousel control buttons on hover */
        .carousel:hover .carousel-control-prev,
        .carousel:hover .carousel-control-next {
            display: block;
        }
        
 .carousel-indicators .active .circle-indicator {
    background-color: white; /* Color of active circle */
  }
    
    </style>
    
    <div class="filters pb-1">
        <div class="filter">
            <div>
                <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-bed"></i>
            </div>
            <p>rooms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castels</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-cow"></i>
            </div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-igloo"></i>
            </div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-ship"></i>
            </div>
            <p>Houseboats</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch ">

                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label for=" class=form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
            </div>
        </div>
    </div><br><br>
<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5 ">
        <% for( listing of allListings) { %>
            <a href="/<%= listing._id %>" class="listing-list">


                <div class="card col listing-card">


                    <div class="carousel slide mt-3" data-bs-ride="carousel" id="banner">
                        <div class="carousel-indicators">
                            <button data-bs-slide-to="0" class="active mb-3 me-3" style="border: none; width: 0px; height:0px;">
                                <span class="circle-indicator"></span>
                            </button>
                            <button data-bs-slide-to="1" class=" me-3" style="border: none; width: 0px; height:0px;">
                                <span class="circle-indicator"></span>
                            </button>
                            <button data-bs-slide-to="2"  style="border: none; width: 0px; height:0px;">
                                <span class="circle-indicator"></span>
                            </button>
                           
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                                style="height: 20rem;" loading="lazy"/>
                                <div class="card-img-overlay"></div>
        
                            </div>
                           
                            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#banner">
                                <span class="carousel-control-prev-icon btn btn-danger" style="border-radius: 50%;"></span>
                            </button>
                            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#banner">
                                <span class="carousel-control-next-icon btn btn-success" style="border-radius: 50%; font-size: 5px !important;"></span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b>
                            <br>
                            <b>&#8377;<%= 
                            ((listing.price*(100-listing.discountPrice))/100).toLocaleString("en-IN")
                             %></b> &nbsp;&nbsp;
                           <del> &#8377;<%= listing.price.toLocaleString("en-IN") %></del> &nbsp; <span style="color: green;"><b><%= listing.discountPrice %>% off</b></span> /awesome

                                <i class="taxt-info">&nbsp;&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
</div>


    <div class="ourjourney-main">
        <section>
       
            <div class="content-main  p-5">
                <hr>
            <div class="home-title mt-5">
                <h1>All our journeys include:</h1>
            </div>
            <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 mt-5 p-5">

                <div class="col item mb-5">
                    <div class="item--icon">
                       <p><i class="fa-solid fa-champagne-glasses" style="color: rgb(168, 112, 15);" ></i></p> 
                    </div>
                    <div class="item-text mt-4">
                        <p>In-suite welcome bottle of champagne and sweet treats</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-wine-bottle"></i></p>
                    </div>

                    <div class="item-text mt-4">
                     
                        <p>A bottle of wine and a bottle of spirit of the guests’ choice upon arrival</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-users" style="color: rgb(21, 21, 116);"></i></p>
                    </div>

                    <div class="item-text mt-4">
                  
                        <p>Authentic, cultured, intuitive service</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-mortar-pestle"></i></p>
                    </div>

                    <div class="item-text mt-4">
                    
                        <p>9 Culinary Experiences, including In-Suite Dining</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-spa" style="color:green"></i></p>
                    </div>

                    <div class="item-text mt-4">
                      
                        <p>Thermal Spa Access</p>
                        <p></p>
                    </div>
                </div>



                <div class="col item ">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-martini-glass-citrus"></i></p>
                    </div>

                    <div class="item-text mt-4">
                 
                        <p>Unlimited fine beverages*</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-ticket"></i></p>
                    </div>

                    <div class="item-text mt-4">
                       
                        <p>All on-board gratuities</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-wifi" style="color: blue;"></i></i></p>
                    </div>

                    <div class="item-text mt-4">
                        
                        <p>Complimentary Wi-Fi</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-bus"></i></p> 
                    </div>

                    <div class="item-text mt-4">
                        
                        <p>Shuttle services from port to city centre**</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-heart-pulse" style="color: red;"></i></p>
                    </div>

                    <div class="item-text mt-4">
                        <p>Wellbeing and fitness programmes on board and at the destinations</p>
                        <p></p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>


    <main class="d-flex justify-content-center align-items-center text-start mt-1 " style="background-color: #ebebeb;
    ">
        <div style="width: 600px">
            <div class="accordion" id="faq">
                <div class="accordion-item mb-3">
                    <div class="accordion-header bg-dark text-white p-3 d-flex justify-content-between">
                        <div>
                            <h3>Seeking inspiration for your next adventure? </h3>
                        </div>
                      <div>
                        <button class="btn btn-dark text-white w-100" data-bs-toggle="collapse" data-bs-target="#css">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                    </div>
    
                    <div class="accordion-body bg-dark text-white  accordion-collapse collapse show" data-bs-parent="#faq" id="css">
                        <p>Our curated collection features a diverse range of journeys spanning breathtaking landscapes, vibrant cultures, and immersive experiences. Whether you're dreaming of exploring ancient ruins, relaxing on pristine beaches, or embarking on thrilling outdoor adventures, you'll find inspiration to fuel your wanderlust right here.</p>
                    </div>
                </div>
    
                <div class="accordion-item mb-3">
    
                    <div class="accordion-header bg-dark text-white p-3 d-flex justify-content-between">
                        <div>
                            <h3>Wondering how to plan your dream getaway?</h3>
                        </div>
                        <div>
                            <button class="btn btn-dark w-100" data-bs-toggle="collapse" data-bs-target="#html">
                           
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="accordion-body bg-dark text-white accordion-collapse collapse" id="html" data-bs-parent="#faq">
                        <p>Planning your dream getaway is easier than you think! Our platform offers valuable insights and recommendations from seasoned travelers and industry experts. From destination guides and travel hacks to packing tips and budgeting advice, we've got you covered every step of the way.</p>
                    </div>
                </div>
    
                <div class="accordion-item">
                    <div class="accordion-header bg-dark text-white p-3 d-flex justify-content-between">
    
                        <div>
                            <h3>Ready to embark on a new adventure? </h3>
                        </div>
    
                        <div>
                            <button class="btn btn-dark w-100" data-bs-toggle="collapse" data-bs-target="#js">
                                <i class="fa-solid fa-plus"></i>
                            </button>
    
                        </div>
                        
                    </div>
                    <div class="accordion-body bg-dark text-white  accordion-collapse collapse" id="js" data-bs-parent="#faq">
                        
                            <p>Embarking on a new adventure has never been more exciting! Our platform provides personalized travel experiences tailored to your unique interests and preferences. Whether you're a foodie seeking culinary delights, an adrenaline junkie craving thrilling activities, or a culture enthusiast eager to immerse yourself in local traditions, we'll help you create unforgettable memories.</p>
                        
                    </div>
                </div>
    
            </div>
    
        </div>
    </main>

  




    <script>
        let taxtSwitch = document.getElementById("flexSwitchCheckDefault");

        taxtSwitch.addEventListener("click", () => {

            let taxtInfo = document.getElementsByClassName("taxt-info");
            for (info of taxtInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";

                }
                else {
                    info.style.display = "none";
                }

            }
        });
    </script>