<% layout("/layouts/bolierplate") %>
    <script>
        const mapToken = "<%=process.env.MAP_TOKEN %>";

        let listing;
        try {
            const jsonString = `<%- JSON.stringify(listing) %>`;
            listing = JSON.parse(jsonString);
        } catch (error) {
            console.error('Error parsing JSON:', error);
            listing = {};
        }

    </script>

    <div class="row show-heading" style="
    --bs-gutter-x:300px !important;">
        

        <div class="card col-6 offset-3 show-card listing-card">
            <div class="col-8 offset-2">
                <h3><b>
                        <%= listing.title %>
                    </b> </h3>
            </div>

            <div id="imageCarousel">
               
            <% listing.image.forEach(image => { %>
                <li><img src="<%= image.url %>" alt="<%= image.filename %>"  class="card-img-top show-image" loading="lazy"></li>
              <% }); %>
            <div class="card-body">
                <p class="card-text">Owned By <i><b><%= listing.owner.username %></b></i></p>

                <p class="card-text"><%= listing.description %></p>

               
            
                        <div class="card" style="border: none;">
                            <div class="card-header">
                                <h4 class="card-title mb-2 mt-3"><%= listing.story_heading %></h4>

                            </div>
                            <div class="card-body">
                                
                                <h5 class="card-subtitle mb-2 mt-3 mx-2"><%= listing.story_title %></h5>
                                <p class="card-text me-2 mx-2"><%= listing.story_content %></p>

                                <h4 class="card-subtitle mb-2 mt-3 mx-3"><%= listing.story_heading1 %></h4><hr>
                                <h5 class="card-subtitle mb-2 mt-3 mx-2"><%= listing.story_title1 %></h5>
                                <p class="card-text me-2 mx-2"><%= listing.story_content1 %></p>

                               
                                <h4 class="card-subtitle mb-2 mt-3 mx-3"><%= listing.story_heading2 %></h4><hr>
                                <h5 class="card-subtitle mb-2 mt-3 mx-2"><%= listing.story_title2 %></h5>
                                <p class="card-text me-2 mx-2"><%= listing.story_content2 %></p>

                                
                                <h4 class="card-subtitle mb-2 mt-3 mx-3"><%= listing.story_heading3 %></h4><hr>
                                <h5 class="card-subtitle mb-2 mt-3 mx-2"><%= listing.story_title3 %></h5>
                                <p class="card-text me-2 mx-2"><%= listing.story_content3 %></p>

                               
                                <h4 class="card-subtitle mb-2 mt-3 mx-3"><%= listing.story_heading4 %></h4><hr>
                                <h5 class="card-subtitle mb-2 mt-3 mx-2"><%= listing.story_title4 %></h5>
                                <p class="card-text me-2 mx-2"><%= listing.story_content4 %></p>

                                <h4 class="card-subtitle mb-2 mt-3 mx-3"><%= listing.story_heading5 %></h4><hr>
                                <p class="card-text me-2 mx-2"><%= listing.story_content5 %></p>
                            </div>
                            <div class="card-footer mt-3 " style="border: none;">
                                <p class="card-text mt-5">
                                    &#8377;<%= listing.price.toLocaleString("en-IN") %>
                                </p>
                                <p class="card-text" ><%= listing.location %></p>
                    
                                   <p class="card-text"> <%= listing.country %>
                                    <p class="card-text btn btn-success mb-3"> <%= listing.createdAt %>
                                </p>

                            </div>
                        </div>
          </div>
        </div>
        <br />
        <% if(currentUser && listing.owner._id.equals(currentUser._id)) { %>
            <div class="btns mb-3">
                <!-- -------------------------update now url------------------------------------------------>
                <a href="/<%= listing.id %>/edit" class="btn btn-dark   offset-3 edit-btn">Edit</a>
                <form method="post" action="/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark offset-5 ">Delete</button>
                </form>
            </div>
            <% } %>


                <div class=" mb-3">
                    <hr />
                   
                        <h4>Public Review</h4>
                        <form action="/listing/<%= listing.id %>/reviews" method="POST" novalidate
                            class="needs-validation">
                           

                            <div class="col-8 offset-3 mb-3">
                                <label for="rating" class="form-label">Rating</label>
                                <fieldset class="starability-slot">

                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />

                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="comment" class="form-label">Comments</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                                    required></textarea>
                                <div class="invalid-feedback">Please add some comments</div>
                            </div>
                          
                            <button class="btn btn-outline-success">post</button>
                           
                        </form>

                        <% if(!currentUser) {%>
                            <% } %>
                    

                            <% if(listing.review.length> 0 ) { %>
                                <hr />
                                <div class="row review-card-main">
                                    <p><b>All Reviews</b></p>
                                    <% for(review of listing.review) { %>
                                        <div class="card ms-3 mb-3 review-card">
                                            <div class="card-body">
                                                <div style="display: flex; flex-wrap: wrap;">
                                                    <button class="btn me-2" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false" style="border: none;">
                                                        <img src="/img/dummy.jpg" class="dropdown-class-img" alt=""
                                                            id="dropdownMenuButton">
                                                    </button>
                                                    <div class="review-username">
                                                        <a href="#"><h5 class="card-title mt-2"><b>
                                                            <%= review.author.username %></b>
                                                        </h5>
                                                    </a>

                                                    </div>
                                                </div>
                                                <p class="starability-result card-text"
                                                    data-rating="<%= review.rating %>">
                                                </p>
                                                <p class="card-text card-text-comment">
                                                    <%= review.comment %>
                                                </p>
                                                <p class="card-text card-review-time mb-3"><%= review.createdAt %></p>
                                            </div>
                                            <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                                <form
                                                    action="/listing/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                    method="post" class="mb-3">
                                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                        <% } %>
                                </div>
                                <hr>
                                <% } %>
                </div>
                <div class="container-fluid mb-3">

                    <h3>Where you'll be</h3>
                    <div id="map">

                    </div>
                </div>
    </div>
    <script src="/js/map.js" defer>

    </script>